@import "../../../styles/functions.scss";
@import "../../../styles/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.master {
  @include games-wrapper;
  margin: 0 auto;
  max-width: rem(1024);
  padding: rem(5) rem(5) rem(20) rem(5);
  min-height: unset;
  background: white;
  display: none;
  &-content {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
    align-items: center;
  }
  &-header {
    display: flex;
    flex-direction: column;
    row-gap: rem(30);
  }
  &-progressbar {
    position: relative;
    width: rem(100);
    height: rem(100);
    background: white;
    border-radius: 50%;
    &__count {
      font-family: 'Raleway', sans-serif;
      font-size: rem(28);
      position: absolute;
      width: rem(69);
      height: rem(28);
      text-align: center;
      top: calc(50% - 14px);
      left: calc(50% - 34.5px);
    }
  }
  &-voice {
    width: rem(200);
    height: rem(200);
    display: flex;
    align-items: center;
    justify-content: center;
    &__btn {
      display: block;
      width: rem(80);
      height: rem(80);
      background: url(../../../../public/speaker.svg) center no-repeat, #9cd2ff;
      background-size: 60%;
      box-shadow: unset;
      border-radius: 50%;
      &.showPicture {
        background: url(../../../../public/speaker.svg) center no-repeat, #9cd2ff46;
        background-size: 60%;
      }
    }
  }
  &-action__btn {
    display: block;
    width: rem(150);
    height: rem(40);
    border-radius: rem(30);
    background: #9cd2ff;
    box-shadow: unset;
    padding: rem(0);
  }
}

.controls {
  display: flex;
  column-gap: rem(20);
  position: absolute;
  top: rem(10);
  right: rem(10);
  &-btn {
    width: rem(30);
    height: rem(30);
    box-shadow: unset;
    border: unset;
  }
  &-fullscreen {
    background: url(../../../../public/sprint-images/full-screen.svg) center / 70% no-repeat;
  }
  &-close {
    background: url(../../../../public/sprint-images/close-page-X.svg) center / 100% no-repeat;
  }
}

.words{
  display: flex;
  justify-content: center;
  column-gap: rem(10);
  row-gap: rem(10);
  flex-wrap: wrap;
  width: 100%;
  &-item {
    width: 100%;
    max-width: rem(180);
    min-height: rem(60);
  }
  &-btn {
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    box-shadow: unset;
    padding: rem(5);
    background: #e4f4ff;
    border-radius: 10px;
    border: 2px solid #9cd2ff;
    color: #494a69;
  }
}

.action-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.next {
  display: none;
}