.chapters {
  width: rem(220);
  border: rem(4) solid #a2dbfedc;
  padding: rem(3.2) rem(16) rem(3.2) rem(3.2);
  position: relative;
  border-radius: rem(30);
  background: white;
  cursor: pointer;
  &-list {
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(100% + rem(2));
    background: #a2dbfedc 100%;
    z-index: 2;
    border: 1px solid #a2dbfedc;
    display: none;
    & #chapter-1 {
      background: #a2dbfedc;
    }
    & #chapter-2 {
      background: #FFC53D;
    }
    & #chapter-3 {
      background: #4CCBB7;
    }
    & #chapter-4 {
      background: #FF7171;
    }
    & #chapter-5 {
      background: #5D7CFD;
    }
    & #chapter-6 {
      background: #8A78FA;
    }
    & #chapter-7 {
      background: #5a5674;
    }
    & #chapter-1,
    & #chapter-2,
    & #chapter-3,
    & #chapter-4,
    & #chapter-5,
    & #chapter-6,
    & #chapter-7,
    & li {
      padding: rem(3.2);
      border-bottom: rem(1) solid white;
      cursor: pointer;
      &:hover {
        background: rgba(255, 255, 255, 0.329);
      }
      &:last-child {
        border: none;
      }
      &.active {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: rem(5);
          bottom: 0;
          width: rem(5);
          display: block;
          background: url(../../../../public/dot.svg) no-repeat 50% 50%;
        }
      }
    }
    &.open {
      display: block;
    }
  }
}