.chapters {
  width: rem(220);
  border: rem(4) solid #49b9ff;
  padding: 8px;
  position: relative;
  border-radius: rem(30);
  background: white;
  font-weight: 700;
  cursor: pointer;
  &-list {
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(100% + rem(2));
    background: #a2dbfedc 100%;
    z-index: 2;
    border: 1px solid #a2dbfedc;
    display: none;
    & #chapter-1 {
      background: #a2dbfedc;
    }
    & #chapter-2 {
      background: #f0f2b6dc;
    }
    & #chapter-3 {
      background: #d7f5dddc;
    }
    & #chapter-4 {
      background: #f5d8cbdc;
    }
    & #chapter-5 {
      background: #cfcef0dc;
    }
    & #chapter-6 {
      background: #e4cef0dc;
    }
    & #chapter-7 {
      background: #bbbdbddc;
    }
    & #chapter-1,
    & #chapter-2,
    & #chapter-3,
    & #chapter-4,
    & #chapter-5,
    & #chapter-6,
    & #chapter-7,
    & li {
      padding: rem(3.2);
      border-bottom: rem(1) solid white;
      cursor: pointer;
      flex-wrap: 500;
      padding: 3px 0;
      padding: 5px 6px;
      font-weight: 600;
      &:hover {
        background: rgba(255, 255, 255, 0.329);
      }
      &:last-child {
        border: none;
      }
    }
    &.open {
      display: block;
      margin-top: 5px;
      border-radius: 5px;
    }
  }
}