@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Marck+Script&display=swap');

.about h3 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.about {
  min-height: calc(100vh - 165px);
  height: 100%;
  padding: 120px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.aboutControls-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-bottom: 40px;
  z-index: 2;
}
.about-btn {
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 15px;
  border-color: #4276d9;
  color: #fff;
  box-shadow: 0 0 40px 40px #4276d9 inset, 0 5px 0 0 #1a39a2;
  transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}
.about-btn.active {
  box-shadow: 0 0 40px 40px #4276d9 inset, 0 0 0 0 #2C3D82;
  border-color: #4276d9;
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transition: all 200ms ease-in-out;
}
.about-btn:first-child {
  box-shadow: 0 0 40px 40px #49b9ff inset, 0 5px 0 0 #3498db;
  border-color: #49b9ff;
  transition: all 200ms ease-in-out;
}
.about-btn:first-child.active {
  box-shadow: 0 0 40px 40px #49b9ff inset, 0 0 0 0 #3498db;
  border-color: #49b9ff;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}
.about-btn:first-child.active:hover {
  background: #ffff;
  box-shadow: 0 0 0 0 #3498db inset, 0 0 0 0 #3498db;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}
.about-btn:hover {
  color: black;
  background: #ffff;
  box-shadow: 0 0 10px 0 #3498db inset, 0 5px 0 0 #3498db;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}
.about-btn:active {
  transform: translateY(2px);
  transform: scale(0.98);
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 0 4px #3498db;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}

/*** About team page ***/

.about-team__title {
  margin-bottom: 30px;
}
.about-team__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;  
}
.team-member__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 15px;
  padding-bottom: 10px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.member-card__name {
  font-size: 1.4rem;
}
.member-gh__link {
  font-size: 1.1rem;
  font-weight: 700;
  color: #4276d9;
  padding-left: 15px;
  position: relative;
}
.member-gh__link::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("../../public/about-images/gh-icon.svg");
  top: -7px;
  left: -25px;
}
.member-roles {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
  font-size: 18px;
  min-height: 105px;
}

/*** About RS-Lang page ***/

.about .about-rsLang__page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  padding: 20px 20px 20px 40px;
  color: #241b80;  
  font-family: 'Bad Script', cursive;
  gap: 30px;
  position: relative;  
}
.about .aboutRsLang-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
  text-align: center;
  max-width: 45%;
  min-width: 570px;
  height: auto;
  color: #241b80; 
  flex: 1 0 40%;
  z-index: 1;
}
@media (max-width: 620px) {
  .about .about-rsLang__page {  
    padding: 10px 10px 40px 30px;    
}
  .about .aboutRsLang-section {
    width: calc(300px + 100 * ((100vw - 320px) / (620 - 320)));    
    justify-content: center;  
    min-width: 300px;  
  }
  .about .aboutRsLang-section img {
    max-width: 320px;
    align-self: center;
    justify-content: center;
  }
}
.about .aboutRsLang-section:nth-child(3),
.about .aboutRsLang-section:nth-child(6) {
  background: none;
  z-index: 0;
}
.about .aboutRsLang-section p:first-child {
  font-size: calc(28px + 22 * ((100vw - 320px) / (1880 - 320)));
}
.about .aboutRsLang-section p:last-child {
  padding-top: 10px;
  line-height: 40px;
  font-size: 32px;
  max-width: 435px;
  font-size: calc(22px + 6 * ((100vw - 320px) / (1880 - 320)));
}
.about .about-RsLang__image4 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.about .about-RsLang__image5 {
  position: absolute;
  top: 51%;  
  z-index: 0;
}
.aboutSupImgs-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px; 
}
.about .about-RsLang__image2 {
  left: 60%;
  top: 35%;
  max-width: 500px;
  width: 100%;
  height: auto;
}
