@mixin intro-games-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: rem(20);
  align-items: center;
  max-width: rem(650);
  min-height: rem(350);
  background: rgb(255, 246, 186);
  border-radius: rem(40);
  padding: rem(30);
  font-size: rem(30);
  box-shadow: rem(0) rem(0) rem(10) rem(10) rgb(241 238 215);
}

@mixin games-wrapper {
  background-color: rgb(255, 246, 186);
  background-size: rem(600) rem(450);
  max-width: rem(600);
  width: 100%;
  min-height: rem(450);
  border-radius: rem(40);
  position: relative;
  display: flex;
  flex-direction: column;
  color: #6a4747;
}