.profile {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  min-height: calc(100vh - 82px);
  align-self: flex-start;
  padding: 20px 40px;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 1.2rem;
  color: #494a69;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.statisticsHeader-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}
.statisticsProfileInfo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding-bottom: 30px;
}
.statistics-title {
  font-size: calc(28px + 4 * ((100vw - 320px) / (1440 - 320)));
  font-weight: bold;
  letter-spacing: 2.2px;
  line-height: 40px;
  align-self: start;
}
.userProfile-icon {
  width: 40px;
  height: 40px;
  background: url("../../public/profile.svg") no-repeat center;
}
.statisticsContent-wrapper {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.statistics-subTitle {
  font-size: calc(26px + 4 * ((100vw - 320px) / (1440 - 320)));
  font-weight: bold;
  letter-spacing: 3px;
  align-self: center;
  padding: 30px 0 40px 0;
}
.todayStatistics-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 30px;
  padding-bottom: 50px;
}
.todayLearnedWords-wrapper p {
  display: block;
}
.todayLearnedWords-wrapper:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 20px;
  column-gap: 20px;
  box-shadow: 3px 3px 10px rgb(168 168 168), inset 5px 5px 10px rgb(255 253 253);
  background: #e3e3e305;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #dfdfdf;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
}
.todayLearnedWords-wrapper {
  display: block;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 20px;
  column-gap: 20px;
  box-shadow: 3px 3px 10px rgb(168 168 168), inset 5px 5px 10px rgb(255 253 253);
  background: #e3e3e305;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #dfdfdf;
  width: 100%;
}
.learnedWords-counter {
  font-size: 5rem;
  font-weight: 700;
}
.learnedWordsTxtContent-textContent:nth-child(2) {
  color: #858692;
  line-height: 30px;
}
.learnedWordsTxtContent-textContent:first-child {
  font-size: 1.6rem;
}
.statistics-item {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 30px;
}
.audiocall-title, .sprint-title {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 3px;
  align-self: start;
  padding: 0 20px 0px 70px;
  position: relative;
  padding-bottom: 15px;
}
.audiocallBlock-wrapper, .sprintBlock-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding: 5px 0;
}
.statisticsProfileLogout {
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  background: #ffffff;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 3px 3px 10px rgb(168 168 168), inset 5px 5px 10px rgb(255 253 253);
  border-radius: 15px;
  border: 2px solid #dfdfdf;
  transition: all 200ms ease-in-out;
}
.statisticsProfileLogout:hover {
  box-shadow: inset 0 0 35px #43b4ff;
  transition: all 200ms ease-in-out;
}
.audiocall-title::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 50px;
  height: 50px;
  background: url(../../public/profile-images/heardphone.svg) no-repeat center;
  background-size: cover;
}
.sprint-title::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 50px;
  height: 50px;
  background: url(../../public/profile-images/sprint.svg) no-repeat center;
  background-size: cover;
}
.allTimeContent-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1440px;
}
.allTimeLearnedWords-wrapper, .allTimeProgress-wrapper {
  display: block;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  max-width: 50vw;
  height: 25vh;
  flex: 0 1 45%;
  max-height: 550px;
}
.allTime-title {
  text-align: center;
  padding: 20px 0 10px 0;
  font-size: calc(20px + 4 * (100vw - 320px) / 1120);
  font-weight: bold;
}

@media (max-width: 576px) {
  .profile {
    padding: 20px 5px 50px 5px;
  }
  .todayStatistics-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
  }
  .todayStatistics-wrapper:first-child {
    width: 100%;
  }
  .audiocall-title, .sprint-title {
    align-self: center;
  }
  .statisticsHeader-container {
    padding: 0 10px;
  }
  .statistics-subTitle {
    align-self: center;
  }
  .todayLearnedWords-wrapper, .todayLearnedWords-wrapper:first-child {
    box-shadow: none;
    border-radius: 0px;
    border: none;
    border-top: 2px solid #eeeeee;
    width: 100%;
  }
  .todayLearnedWords-wrapper:last-child {
    border-bottom: 2px solid #eeeeee;
  }
}

#chart1, #chart2 {
  min-width: 320px;
  min-height: 320px;
}
.firstBlock-wrapper, .second-wrapper {
  min-width: 320px;
  min-height: 320px;
  max-width: 350px;
}
// calc(32px + 8 * ((100vw - 320px) / (1880 - 320)));