.profile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  min-height: calc(100vh - 82px);
  align-self: flex-start;
  padding: 20px 40px;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 1.2rem;
  color: #494a69;
  background: #f0f0f0;
}
.statisticsHeader-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.statisticsProfileInfo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding-bottom: 30px;
}
.statistics-title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2.2px;
  align-self: start;
}
.userProfile-icon {
  width: 40px;
  height: 40px;
  background: url("../../public/profile.svg") no-repeat center;
}
.statisticsContent-wrapper {
  align-self: center;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.statistics-subTitle {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
  align-self: start;
  padding: 30px 0 40px 0;
}
.todayStatistics-wrapper {
  display: grid;
  grid-template-rows: repeat(auto-fill, auto);
  grid-template-columns: repeat(2, minmax(auto-fill, 1fr));
  gap: 50px;
}
.todayLearnedWords-wrapper p {
  display: block;
}
.todayLearnedWords-wrapper:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}
.todayLearnedWords-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 20px;
       column-gap: 20px;
  box-shadow: 0px 0px 10px 10px rgb(255 253 253);
  background: #eaeaea;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
}
.learnedWords-counter {
  font-size: 5rem;
  font-weight: 700;
}
.learnedWordsTxtContent-textContent:nth-child(2) {
  color: #858692;
  line-height: 30px;
}
.learnedWordsTxtContent-textContent:first-child {
  font-size: 1.6rem;
}
.statistics-item {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 30px;
}
.audiocall-title, .sprint-title {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 3px;
  align-self: start;
  padding: 0 20px 0px 60px;
}
.audiocallBlock-wrapper, .sprintBlock-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 576px) {
  .statistics-item {
  width: 100%;
  min-width: 300px;
}
  .profile {
    padding: 20px 5px;
  }
  .todayStatistics-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .todayLearnedWords-wrapper {
    min-width: 300px;
  }
}
// .audiocallBlock-counter, .sprintBlock-counter {


// }
