@font-face {
  font-family: "Arial"; 
  src: url("./arial.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 
@font-face {
  font-family: "Georgia"; 
  src: url("./georgia.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before, *::after {
box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

:root {
  --body-color: rgba(48,197,255,0.1);
  --text-color: white;
  --button-color: gray;
  --active-color: #4275D8;
  --border-color: black;
  --shadow-color: #30c5ff;
  --select-color: #5ad67d;;
  --alert-color: red;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

main {
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
