@import "./functions.scss";

@font-face {
  font-family: "Arial";
  src: url("./arial.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("./georgia.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

img {
  display: block;
}

ul li {
  list-style: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

a:hover {
  text-decoration: none;
}

// a:focus,
a:active {
  outline: none;
}

button {
  cursor: pointer;
}

:root {
  --body-color: rgba(48, 197, 255, 0.1);
  --text-color: white;
  --button-color: gray;
  --active-color: #4275d8;
  --border-color: black;
  --shadow-color: #30c5ff;
  --select-color: #e0ffee;
  --hard-color: #ffdad8;
  --alert-color: #d10a22;
  --chapter-itm-border-color: rgba(137, 105, 180, 0.61);
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.btn-dictionary {
  color: #FFFF !important;
  text-align: center;
  padding: 10px;
  font-weight: 500;
  letter-spacing: 1.2px;
  background: #FFFF;
  border: 2px solid #49b9ff;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #49b9ff inset;
  transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;

}
.btn-dictionary:hover {
  color: #494a69 !important;
  box-shadow: 0 0 0 0 rgb(162 219 254 / 86%) inset;
  transform: scale(1);
  transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
}
.btn-dictionary:active {
  transform: translateY(3px);
  transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
}

main {
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  padding-top: rem(117);
  align-items: center;
  font-family: Arial, sans-serif;
  color: #494a69;
}
header .logo {
  color: #494a69;
}