@import "../../../styles/functions.scss";
@import "./chapters/chapters.scss";
@import "./games/games.scss";
@import "../content/contentListElement/contentListElement.scss";

.dictionary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: rem(0) rem(10) rem(30) rem(10);
  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: rem(60);
    padding-bottom: rem(20);
  }
  &-separator {
    padding: rem(0) rem(30);
    font-size: rem(18);
  }
  &-heading {
    font-size: rem(18);
    font-weight: 700;
    padding: rem(10) rem(5);
    text-align: center;
  }
  &-chapter__name {
    &::after {
      content: "";
      position: absolute;
      width: rem(9.6);
      height: rem(9.6);
      right: rem(4);
      top: calc(50% - rem(4));
      background: url(../../../../public/downarrow.svg) no-repeat;
    }
  }
  &-content {
    padding: rem(20) rem(0);
    // border-top: 1px solid rgba(128, 128, 128, 0.253);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
    flex-wrap: nowrap;
    background: white;
  }
  &-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: rem(30);
  }
  &-wrapper__games {
    max-width: rem(200);
    width: 100%;
  }
}

.dictionary-chapter-1 {
  & .chapters,
  & .game {
    border: 0.25rem solid rgba(162, 219, 254, 0.862745098);
  }
  & .explain, 
  & .example,
  & .btn {
    background: rgba(228, 244, 255, 0.5215686275);
  }
}
.dictionary-chapter-2 {
  & .chapters,
  & .game {
    border: 0.25rem solid #FFC53D;
  }
  & .explain, 
  & .example,
  & .btn {
    background: #FFC53D;
  }
}
.dictionary-chapter-3 {
  & .chapters,
  & .game {
    border: 0.25rem solid #4CCBB7;
  }
  & .explain, 
  & .example,
  & .btn {
    background: #4CCBB7;
  }
}
.dictionary-chapter-4 {
  & .chapters,
  & .game {
    border: 0.25rem solid #FF7171;
  }
  & .explain, 
  & .example,
  & .btn {
    background: #FF7171;
  }
}
.dictionary-chapter-5 {
  & .chapters,
  & .game {
    border: 0.25rem solid #5D7CFD;
  }
  & .explain, 
  & .example,
  & .btn {
    background: #5D7CFD;
  }
}
.dictionary-chapter-6 {
  & .chapters,
  & .game {
    border: 0.25rem solid #8A78FA;
  }
  & .explain, 
  & .example,
  & .btn {
    background: #8A78FA;
  }
}
.dictionary-chapter-7 {
  & .chapters,
  & .game {
    border: 0.25rem solid #5a5674;
  }
  & .explain, 
  & .example,
  & .btn {
    background: #5a5674;
  }
}