@import "../../../styles/functions.scss";
@import "./chapters/chapters.scss";
@import "./games/games.scss";
@import "../content/contentListElement/contentListElement.scss";

.dictionary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: rem(0) rem(10) rem(30) rem(10);
  padding-top: 1.25rem;
  &-header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    -moz-column-gap: rem(60);
         column-gap: rem(60);
    padding-bottom: rem(20);
  }
  &-separator {
    padding: rem(0) rem(30);
    font-size: rem(18);
  }
  &-heading {
    font-size: rem(18);
    font-weight: 700;
    padding: rem(10) rem(5);
    text-align: center;
  }
  &-chapter__name {
    &::after {
      content: "";
      position: absolute;
      width: rem(9.6);
      height: rem(9.6);
      right: rem(8);
      top: calc(50% - rem(4));
      background: url(../../../../public/downarrow.svg) no-repeat;
    }
  }
  &-content {
    padding: rem(20) rem(0);
    // border-top: 1px solid rgba(128, 128, 128, 0.253);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
    flex-wrap: nowrap;
    background: white;
  }
  &-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: rem(30);
         column-gap: rem(30);
  }
  &-wrapper__games {
    max-width: rem(200);
    width: 100%;
  }
}
.dictionary-pagination .btn {
  border: 2px solid #2592d7;
  box-shadow: 0 0 40px 40px #2592d7 inset;
  transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  color: #ffff;
  letter-spacing: 1.2px;
}
.dictionary-pagination .btn:hover {
  color: #494a69;
  border: 2px solid #2592d7;
  box-shadow: 0 0 0 0 #49b9ff inset;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  background-color: #ffff;
}
.pagination-number {
  font-weight: 700;
  color: #494a69;
}

.dictionary-chapter-1 {
  & .element {
    border: 0.25rem solid rgba(162, 219, 254, 0.862745098);
  }
  & .element-questions {
    box-shadow: 0px 0px 3px 3px rgba(162, 219, 254, 0.862745098);
  }
}
.dictionary-chapter-2 {
  & .element {
    border: 0.25rem solid #f0f2b6dc;
  }
  & .element-questions {
    box-shadow: 0px 0px 3px 3px #f0f2b6dc;
  }
}
.dictionary-chapter-3 {
  & .element {
    border: 0.25rem solid #d7f5dddc;
  }
  & .element-questions {
    box-shadow: 0px 0px 3px 3px #d7f5dddc;
  }
}
.dictionary-chapter-4 {
  & .element {
    border: 0.25rem solid #f5d8cbdc;
  }
  & .element-questions {
    box-shadow: 0px 0px 3px 3px #f5d8cbdc;
  }
}
.dictionary-chapter-5 {
  & .element {
    border: 0.25rem solid #cfcef0dc;
  }
  & .element-questions {
    box-shadow: 0px 0px 3px 3px #cfcef0dc;
  }
}
.dictionary-chapter-6 {
  & .element {
    border: 0.25rem solid #e4cef0dc;
  }
  & .element-questions {
    box-shadow: 0px 0px 3px 3px #e4cef0dc;
  }
}
.dictionary-chapter-7 {
  & .element {
    border: 0.25rem solid #bbbdbddc;
  }
  & .element-questions {
    box-shadow: 0px 0px 3px 3px #bbbdbddc;
  }
}