.games {
  display: flex;
  justify-content: space-between;
  padding: rem(3.2);
  & a {
    text-decoration: none;
    color: inherit;
    border-radius: rem(30);
    &:visited {
      text-decoration: none;
      color: var(--border-color)
    }
  }
}

.game {
  padding: rem(5);
  border: rem(4) solid #a2dbfedc;
  &:hover {
    transform: scale(105%);
  }
  &:active{
    transform: scale(95%);
  }
}