.games {
  display: flex;
  justify-content: space-between;

  & a {
    text-decoration: none;
    color: inherit;
    border-radius: rem(30);
    background: white;
    &:visited {
      text-decoration: none;
      color: var(--active-color)
    }
  }
  &__disabled {
    display: none;
  }
}

.game {
  padding: rem(5);
  border: rem(4) solid #a2dbfedc;
  &:hover {
    transform: scale(105%);
  }
  &:active{
    transform: scale(95%);
  }
}