.header {
  width: 100%;
  height: 100px;
  padding: 0 40px;
  max-width: 1280;
  background: linear-gradient(to right, var(--shadow-color) 0%, var(--active-color) 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
  