@import "../../styles/functions.scss";
@import "../../styles/mixins.scss";

.home {
  @include games-wrapper;
  &-heading {
    font-size: rem(32);
    font-weight: bold;
  }
  &-content__descript {
    font-size: rem(22.4);
  }
  &-content {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
    text-align: center;
    align-items: center;
  }
  &-link__back {
    font-size: rem(18);
    background: #baedff;
    font-weight: normal;
    text-transform: unset;
    max-width: rem(200);
    border-radius: rem(30);
  }
  &-lvl {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
  }
  &-lvl__btns {
    display: flex;
    column-gap: rem(20);
  }
}