.list-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(10);
  &__element {
    // box-shadow: rem(0) rem(0) rem(10) rem(2) rgba(0, 0, 0, 0.185);
    border-bottom: 1px solid #b3b3b3;
  }
}

.element {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: rem(10);
  max-width: rem(910);
  border: rem(3) solid #000;
  border-radius: rem(10);
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    row-gap: rem(20);
  }
  &-img {
    width: rem(250);
    height: 100%;
  }
  &-discript {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    row-gap: rem(10);
    padding: rem(0) rem(10);
  }
  &__hard {
    background-color: var(--hard-color);
  }
  &__studied {
    background-color: var(--select-color);
  }
  &-btns {
    display: flex;
    justify-content: space-between;
    column-gap: rem(10);
    max-height: rem(38);
    max-width: rem(380);
    & .btn {
      max-width: rem(90);
      width: 100%;
      padding: rem(3);
    }
    & .btn-listen {
      width: unset;
      padding: rem(10);
    }
  }
  &-btn {
    &__img {
      margin: auto;
      display: inline-block;
      width: rem(20);
      height: rem(20);
    }
  }
  &-example,
  &-explain {
    padding: 10px;
    border-radius: 10px;

  }
}

.word {
  display: flex;
  column-gap: rem(5);
  &-en {
    font-weight: 700;
  }
}

.explain,
.example {
  &-heading {
    text-decoration: underline;
    padding-bottom: rem(7);
  }
  &-en {
    padding-bottom: rem(6);
  }
}