.list-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(10);
  &__element {
    box-shadow: rem(0) rem(0) rem(10) rem(2) rgba(0, 0, 0, 0.185);
  }
}

.element {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: rem(10);
  max-width: rem(700);
  &-img {
    width: rem(250);
    height: 100%;
  }
  &-discript {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    row-gap: rem(10);
    padding: rem(0) rem(10);
  }
  &-btns {
    display: flex;
    justify-content: space-between;
    column-gap: rem(10);
  }
  &-btn {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   padding: rem(0) rem(3);
    &__img {
      margin: auto;
  //     display: inline-block;
  //     width: rem(17);
  //     height: rem(17);
  //     margin-left: rem(10);
    }
  }
}

.word {
  display: flex;
  column-gap: rem(5);
  &-en {
    font-weight: 700;
  }
}