@import "../../../styles/functions.scss";
@import "../../../styles/mixins.scss";

.audiocall {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #494a69;
  padding: rem(10)
}

.home {
  @include intro-games-wrapper;
  margin: 0 auto;
  box-shadow: unset;
  &-heading {
    font-size: rem(32);
    font-weight: bold;
    text-align: center;
  }
  &-content__descript {
    font-size: rem(22.4);
  }
  &-content {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
    text-align: center;
    align-items: center;
  }
  &-link__back {
    font-size: rem(18);
    background: #a2dafe;
    font-weight: normal;
    text-transform: unset;
    max-width: rem(200);
    border-radius: rem(30);
    box-shadow: unset;
    text-decoration: none;
    &:hover {
      transform: scale(105%);
    }
  }
  &-lvl {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
  }
  &-lvl__btns {
    display: flex;
    column-gap: rem(20);
    flex-wrap: wrap;
    justify-content: center;
    row-gap: rem(10);
  }
  &-btn {
    height: rem(50);
    width: rem(50);
    padding: rem(20) rem(15);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #a2dafe;
    font-size: rem(25);
    border-radius: rem(25);
    transition: all 200ms ease-in-out;
    color: #494a69;
    &:hover {
      &::before {
        content: "";
        width: rem(65);
        height: rem(65);
        border-radius: 50%;
        background: rgba(24, 213, 255, 0.1);
        border: rem(3) solid #51a8e1;
        position: absolute;
        transition: all 200ms ease-in-out;
      }
    }
    &:active {
      background: #51a8e1;
      transition: all 200ms ease-in-out;
    }
  }
}