.form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: 2px solid var(--border-color);
    &-item{
      margin: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
}

.item{
  &-label{  
    margin-right: 20px;
  }
  &-checkbox{
    width: 20px;
    height: 20px;
    border: 1px solid var(--border-color);
    &__active{
      background-color: #baedff;
    }
  }
  &-message{
    color: var(--alert-color);
  }  
}